POSTGRES_DB=store_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change-me
POSTGRES_PORT=5432

ZOOKEEPER_PORT=2181
KAFKA_PORT=9092

OPENSEARCH_HTTP_PORT=9200
OPENSEARCH_PASSWORD=
OPENSEARCH_USERNAME=

SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/store_db
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=change-me
SPRING_KAFKA_BOOTSTRAP_SERVERS=localhost:9092
OPENSEARCH_URL=http://localhost:9200
